.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 20px 40px;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.15),
        transparent
    );
    z-index: 1000;
}

.navbar{

    display: flex;

    justify-content: space-between;

    align-items: center;

}
.brand{

    display: flex;

    align-items: center;

    gap: 10px;

}
.brand-name{

    font-size: 1.2rem;

    font-weight: 700;

}
.menu{

    display: flex;

    gap: 30px;

}
.menu a{

    color: var(--texto-principal);

    transition: 0.3s;
}
.menu a:hover{

    color: var(--cor-secundaria);

}
.menu-mobile-btn {
    display: none;
}