/* Limpa o terrono, redinindo os padõres de fabrica para o 0 */ 
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Regra: 60 / 30 / 10 - identidade visual do site */ 
:root{ 

    --cor-primaria: #121212;
    --cor-secundaria: #c59d5f;
    --cor-fundo: #1b1b1b;

    --texto-principal: #ffffff;
    --texto-secundario: #b3b3b3;

}