@media (max-width: 768px) {

  h1, h2, h3, p {
    text-align: center;
  }
    .brand-name {
    display: none;
  }

  .sobre,
  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.depoimentos-layout {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

/* texto ocupa largura total */
.depoimentos-texto {
  max-width: 100%;
  text-align: center;
}

.depoimentos-texto h2 {
  text-align: center;
}

/* carrossel abaixo, centralizado */
.depoimentos-wrapper {
  width: 100%;
  justify-content: center;
}

/* viewport não pode travar largura fixa no mobile */
.depoimentos-viewport {
  width: 100%;
  max-width: 320px; /* ou 340px se quiser mais respiro */
}
  .sobre-imagem img,
  .servicos-imagem img {
    width: 100%;
    max-width: 320px;
    display: block;
  }

  .card-depoimento {
    width: 100%;
    max-width: 320px;
  }

  .galeria-imagens img {
    width: 100%;
    height: 260px;
  }

  .hero {
    height: 100svh;
    background-position: center top;
  }

.menu {
  height: 78px;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  transform: translateY(-100%);
}

  .btn {
    z-index: 99999;
  }

  .whatsapp-btn {
    z-index: 99999;
    bottom: 20px;
    right: 20px;
  }
}

/*TABLET 769PX - 1024PX*/

@media (min-width: 769px) and (max-width: 1024px) {

  h1 { font-size: 3rem; text-align: center; }
  h2 { font-size: 2rem; text-align: center; }

  .sobre,
  .servicos {
    gap: 2rem;
    padding: 70px 5%;
  }

  .sobre-imagem img,
  .servicos-imagem img {
    max-width: 380px;
  }

  .depoimentos-layout {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

/* texto ocupa largura total */
.depoimentos-texto {
  max-width: 100%;
  text-align: center;
}

.depoimentos-texto h2 {
  text-align: center;
}

/* carrossel abaixo, centralizado */
.depoimentos-wrapper {
  width: 100%;
  justify-content: center;
}

/* viewport não pode travar largura fixa no mobile */
.depoimentos-viewport {
  width: 100%;
  max-width: 320px; /* ou 340px se quiser mais respiro */
}

  .localizacao {
    padding: 80px 5%;
    gap: 40px;
  }
  
}
/*TELAS GRANDES ACIMA DE 1440PX*/

@media (min-width: 1440px) {

  h1 { font-size: 4.5rem; }
  h2 { font-size: 3rem; }

  .sobre,
  .servicos {
    padding: 80px 15%;
  }

  .localizacao {
    padding: 100px 15%;
  }
}
